<!-- templates/legacy.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOL Champion API</title>
</head>
<body>
    <h1>
        All {{ category.capitalize() }}!
    </h1>
    <div>
        {% for item in data %}
            <h1>
                {{ item.name }}
            </h1>
            <ul>
                {% for champion in item.champions %}
                <div>
                    {{ champion }}
                </div>
                {% endfor %}
            </ul>
        {% endfor %}
        </div>
</body>
</html>
