<!-- templates/champion.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOL Champion API</title>
</head>
<body>
    <div>
        <img src="{{ url_for('static',filename='icons/{}.png'.format(champion.key) ) }}" style="height: 50px;">
        <h1>
            {{ champion.name }}, {{ champion.title }}
        </h1>
    </div>

    <div>
        <h2> Rangetype: {{champion.rangetype[0]}} </h2>
        <h2> Region: {{champion.region[0]}} </h2>

        <h2>Legacy</h2>
        {% for item in champion.legacy %}
            <p>
                {{ item}}
            </p>
        {% endfor %}

        <h2>Positon</h2>
        {% for item in champion.position %}
            <p>
                {{ item}}
            </p>
        {% endfor %}

        <h2>Resources</h2>
        {% for item in champion.resource %}
            <p>
                {{ item}}
            </p>
        {% endfor %}


    </div>
</body>
</html>