<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOL Champion API</title>
</head>
<body>
    <h1>
        All league champions!
    </h1>
    <h3>
        <a href="{{ url_for('champions') }}">
            champions
        </a>
    </h3>

    {% for category, names in category_list.items() %}

    <h3>
        {{ category }}
    </h3>

        {% for name in names %}
            <p>{{ name }}</p>
        {% endfor %}

    {% endfor %}

</body>
</html>